.exchange-rates__controllers{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.controllers__values{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 15px;
}

.controllers__currencies{
    display: flex;
    flex-direction: column;
    text-align: left;
}
